@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/static/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

* {
  margin: 0;
}

body {
  background: url(../images/bg.jpg) fixed no-repeat center;
  background-size: cover;
}

body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  left: 0;
  background: black;
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}

@keyframes animBefore {
  to {
    opacity: 0;
  }
}

h1,
h3 {
  font-family: "Inter", sans-serif;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#title {
  height: 72vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}

@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#title h1 {
  font-size: 5rem;
  letter-spacing: 7px;
  text-align: center;
  width: 800px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

#title p {
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 75px;
  font-family: "Merriweather", sans-serif;
}

#date {
  padding: 30px 0px;
}

#arrow-icon img {
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-radius: 100px;
  padding: 25px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 12%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.2);
}

nav #nav-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  width: 55%;
}

nav #nav-left:hover a:not(:hover) {
  background: none;
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#first-menu {
  background-color: white;
  color: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

a:hover {
  color: black;
  background-color: white;
}

li {
  list-style: none;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}

#nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22%;
  padding-right: 20px;
}

#nav-right :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

#nav-right img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#nav-right img li {
  list-style: none;
}

section {
  margin: 0 12%;
  background: white;
}

#date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#date p {
  padding: 50px 70px;
  font-size: 1.4rem;
  font-family: "Merriweather", sans-serif;
}

#date .lines {
  width: 30%;
  height: 1px;
  background: rgba(128, 128, 128, 0.2);
}

#section1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section1-content h1 {
  text-transform: uppercase;
  font-size: 5rem;
  width: 900px;
  text-align: center;
  margin: 0px;
}

#section1-content img {
  width: 80%;
  height: 80%;
}

#section1-content p {
  width: 820px;
  padding: 40px 0px;
  font-size: 1.1rem;
  font-style: italic;
  font-family: "Merriweather", sans-serif;
  text-align: center;
  line-height: 250%;
}

#section1-content button {
  padding: 10px;
  width: 220px;
  height: 60px;
  font-size: 1.1rem;
  background: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 3px solid black;
  font-family: "Inter", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
}

#section1-content .button {
  padding: 80px 0px 110px 0px;
}

#section1-content .button :hover {
  background: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}

#other-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#other-stories .stories {
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  width: 50%;
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#other-stories .stories img {
  height: 42%;
  width: 75%;
}

#other-stories .stories p {
  font-family: "Merriweather", sans-serif;
  padding-top: 30px;
  width: 80%;
  line-height: 230%;
}

#other-stories .stories .dates {
  text-align: center;
  padding-top: 70px;
  font-size: 1.1rem;
}

#other-stories .stories h3 {
  width: 300px;
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0px;
  line-height: 150%;
}

#other-stories .stories .button {
  padding: 40px 0px;
}

#other-stories .stories .button :hover {
  background: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}

#other-stories .stories button {
  padding: 10px;
  width: 220px;
  height: 60px;
  font-size: 1.1rem;
  background: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 3px solid black;
  font-family: "Inter", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
}

#separation-line {
  width: 2px;
  height: 950px;
  background: rgba(128, 128, 128, 0.2);
}

footer {
  margin: 50px 12% 0px 12%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
  margin-bottom: 120px;
}

footer img {
  height: 25px;
  width: 25px;
  margin: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

footer img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

footer .circle {
  border: 1px solid grey;
  border-radius: 50px;
  padding: 15px;
  margin: auto;
  height: 25px;
  width: 25px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

footer .circle:hover {
  background: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}

#message-box {
  width: 50%;
  display: -ms-grid;
  display: grid;
}

#message-box label {
  margin: auto 0;
  color: grey;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

#message-box input {
  border-color: grey !important;
  border-radius: 4px;
  text-align: start;
  color: grey;
  font-size: 1.5rem;
}

#message-box #message {
  padding: 5%;
  color: grey;
  font-size: 1.5rem;
}

#message-box .button-form {
  padding: 10px;
  width: 220px;
  height: 60px;
  font-size: 1.1rem;
  background: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 3px solid black;
  font-family: "Inter", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin: auto 0;
  text-align: center;
  color: grey;
}

#message-box .button-form:hover {
  background: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}

#message-box form {
  padding: 40px 8%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8% 8% 8% 8% 8% 40% 20%;
      grid-template-rows: 8% 8% 8% 8% 8% 40% 20%;
}

#message-box div {
  padding: auto 0;
}

#contact {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
}

.contact-label {
  margin: auto 40px;
  color: grey;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

.contact-content {
  color: rgba(128, 128, 128, 0.7);
  font-family: "Merriweather", sans-serif;
  margin: auto 0;
  max-width: 350px;
}

.contact-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}

.contact-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 65%;
}
/*# sourceMappingURL=main.css.map */