footer {
  margin: 50px 12% 0px 12%;
  background: white;
  display: flex;
  height: 800px;
  margin-bottom: 120px;

  img {
    height: 30px;
    width: 30px;
  }
}

#message-box {
  width: 50%;
  display: grid;

  label {
    margin: auto 0;
    color: rgba($color: grey, $alpha: 1);
    text-transform: uppercase;
    font-family: $mainFont;
  }

  input {
    border-color: rgba($color: grey, $alpha: 0.2);
    border-radius: 4px;
  }

  form {
    padding: 40px 8%;
    display: grid;
    grid-template-rows: 8% 8% 8% 8% 8% 40% 20%;
  }

  div {
    margin: auto 0;
  }

  #button-submit {
    @include button;
    border-color: grey;
    color: grey;
    border-radius: 0;
  }
}

#contact {
  width: 50%;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

.contact-label {
  margin: auto 40px;
  color: rgba($color: grey, $alpha: 1);
  text-transform: uppercase;
  font-family: $mainFont;
}

.contact-content {
  color: rgba($color: grey, $alpha: 0.7);
  font-family: $secondFont;
  padding-top: 90px;
  max-width: 280px;
}

.contact-box {
  display: grid;
  grid-template-columns: 30% 70%;
  border-bottom: 1px solid rgba($color: grey, $alpha: 0.2);
  border-left: 1px solid rgba($color: grey, $alpha: 0.2);

  > div {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
  }
}
