#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $mainColor;
  padding-top: 10%;

  h1 {
    font-size: 6rem;
    text-align: center;
    width: 850px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 0%;
    font-family: $secondFont;
  }
}

#arrow-icon {
  img {
    width: 90px;
    height: 90px;
    padding-top: 90px;
    padding-bottom: 170px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0px 12%;
  height: 60px;
  background: rgba($color: white, $alpha: 0.2);
}

#nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  align-items: center;

  p {
    margin: 0;
    color: $mainColor;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: $mainFont;
    letter-spacing: 2px;
  }
}

#nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  padding-right: 10px;

  img {
    width: 25px;
    height: 25px;
  }
}
