* {
  margin: 0;
}
body {
  background: url(../images/bg.jpg) fixed no-repeat center;
  background-size: cover;

  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 200%;
    top: 0;
    left: 0;
    
    background: $color2;
    animation:  animBefore 1.5s ease forwards;
    animation-delay: 0.2s;

    @keyframes animBefore {
      to{
        opacity: 0;
      }
      
    }

  }
}

h1,
h3 {
  font-family: $mainFont;
}

@mixin button {
  padding: 10px;
  width: 220px;
  height: 60px;
  font-size: 1.1rem;
  background: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 3px solid black;
  font-family: $mainFont;
  transition: 0.2s ease-in-out;
}

@mixin hoverButton {
  background: rgba($color: grey, $alpha: 0.1);
  cursor: pointer;
}

@mixin inputStyle {
  color: $color3;
  font-size: 1.5rem;
}
